# -----------------------------------------------------------------------------
# Zeus Frontend - Development Environment
# -----------------------------------------------------------------------------

# -----------------------------------------------------------------------------
# Web Information
# -----------------------------------------------------------------------------
NEXT_PUBLIC_APP_URL="http://localhost:3000"
NEXT_PUBLIC_BACKEND_URL="http://localhost:8000"

# -----------------------------------------------------------------------------
# Database with Neon PostgreSQL
# https://neon.tech
# -----------------------------------------------------------------------------
DATABASE_URL="postgresql://neondb_owner:npg_cpPyeOaFA1W2@ep-curly-paper-ahz1o7gx-pooler.c-3.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require"

# -----------------------------------------------------------------------------
# Auth with Better Auth
# https://www.better-auth.com
# Secret can be generated with `openssl rand -base64 32`
# -----------------------------------------------------------------------------
BETTER_AUTH_SECRET="olrJTSnAOBVJhbLwEtLy5GqgQcHdtzOg"
BETTER_AUTH_URL="http://localhost:3000"

# -----------------------------------------------------------------------------
# OAuth Providers (Optional)
# -----------------------------------------------------------------------------

# Google OAuth
# https://console.cloud.google.com
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""

# GitHub OAuth
# https://github.com/settings/developers
GITHUB_CLIENT_ID="Ov23likJ9gKuBGnJi9hk"
GITHUB_CLIENT_SECRET="06d8db79597bd1c6948b3fc8821e688851fa483d"

# -----------------------------------------------------------------------------
# Development Settings
# -----------------------------------------------------------------------------
NODE_ENV="development"
PORT="3000"
